@font-face {
    font-family: 'vals_handwriting_is_pretty_Rg';
    src: url('https://nonzerosum.games/vals_handwriting_is_pretty_messy-webfont.woff2') format('woff2'),
         url('https://nonzerosum.games/vals_handwriting_is_pretty_messy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
  background-color:#55AAE3;
}
a {
  font-family: 'vals_handwriting_is_pretty_Rg';
  font-size: 100%;
  font-weight:normal;
  font-style:normal;
  color: white;
}

a:hover {
  font-family: 'vals_handwriting_is_pretty_Rg';
  font-style: oblique;
}
.portraits {
  border-radius: 5px;
  border: 100px solid #FFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  align-content: center;
}
#circle {
    border-radius: 50%;
    background-color: #55AAE3;
    border: 0px solid #55AAE3;
    margin-right: 50px;
    margin-left: 50px;
    overflow: hidden;
}
#circle > div {
  height: 200px;
  background-color: red;
}
.mina {
  font-family: 'vals_handwriting_is_pretty_Rg';
  color: mediumpurple;
}

.rounded_outlined {
  margin: auto;
  max-width: 95%;
  border-radius: 50px;
  border: 5px solid #000;
  background-color: #55AAE3;
  overflow: hidden;
  display: block;
  position: relative;
  align-content: center;
}
.montage {
  position: relative;
  margin: 20px;
  border-radius: 50px;
  border: 5px solid #000;
  background-color: #55AAE3;
  overflow: hidden;
  align-content: center;
  text-align: center;
  width:300px;
  height:300px;
  object-fit:cover;
}


@media only screen and (max-device-width: 450px) {

  img {
    max-width: 95% important!;
  }
  .content {
    position: relative;
    text-align: center;
  }
  .container {
    height: 100%;
    margin: 100px;
    background-color: rgba(100, 250, 150, 0.5);
    border-radius: 50px;
    border: 10px solid #000;
  }
  .links {
    position: relative;
    text-align: center;
  }
  .giscus_button {
    position: fixed;
    right: 0;
    bottom: 0;
  }
  .giscus {
    font-size: 300%;
  }
/*  .game {
    touch-action:  none;
  }*/
  p {
    font-family: 'vals_handwriting_is_pretty_Rg';
    font-size: 400%;
    font-weight:normal;
    font-style:normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align:center;
  }
  li {
    font-family: 'vals_handwriting_is_pretty_Rg';
    font-size: 300%;
    font-weight:normal;
    font-style:normal;
  }
  h1 {
    font-family: 'vals_handwriting_is_pretty_Rg';
    font-size: 800%;
    font-weight:normal;
    font-style:normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align:center;
  }
  h3 {
    font-family: 'vals_handwriting_is_pretty_Rg';
    font-size: 500%;
    font-weight:normal;
    font-style:normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align:center;
  }
}

@media only screen and (min-device-width: 451px) {

  .rounded_outlined {
    max-width: 700px;
  }

  img {
    max-width: 700px;
  }
  .content {
    position: relative;
    text-align: center;
  }
  .container {
    display: flex;
    height: 100%;
    margin: 20px;
  }
  .column {
    flex: 33.33%;
    padding: 10px;
    margin: 10px;
    background-color: rgba(100, 250, 150, 0.5);
    text-align: center;
    border-radius: 50px;
    border: 5px solid #000;
    padding-bottom: 20px;
  }
  .links {
    position: relative;
    text-align: center;
  }
  .giscus_button {
    position: fixed;
    right: 0;
    bottom: 0;
  }
  .comments {
    position: relative;
    right: auto;
    bottom: auto;
  }
  p {
    font-family: 'vals_handwriting_is_pretty_Rg';
    font-size: 200%;
    font-weight:normal;
    font-style:normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align:center;
  }
  li {
    font-family: 'vals_handwriting_is_pretty_Rg';
    font-size: 200%;
    font-weight:normal;
    font-style:normal;
  }
  h1 {
    font-family: 'vals_handwriting_is_pretty_Rg';
    font-size: 350%;
    font-weight:normal;
    font-style:normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align:center;
  }
  h3 {
    font-family: 'vals_handwriting_is_pretty_Rg';
    font-size: 250%;
    font-weight:normal;
    font-style:normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align:center;
  }
/*  .game {
    touch-action:  none;
  }*/
}




