body {
	margin: 0;
	color: #7e7e7e;
	font-family: arial;
	text-align: center;
	background-color: #3a3a3a;
	font-size: 16px !important;
	/*overflow: hidden;*/
}

h1 {
	text-align: center !important;
}

.example::-/*webkit-scrollbar {
  display: none;
}*/

hr {
	background-color: #3a3a3a;
}

#Light {
	background-color: white;
}

#Dark {
	background-color: #3a3a3a;
}


#Header {
    position: fixed;
	text-align: left;
	font-size: 24px !important;
}

.menuButton {
    font-size: 24px !important;
    transform: rotate(90deg);
	margin-left: 10px !important;
	margin-right: 10px !important;
	margin-top: -30px !important;
}

.menuBackground {
    background-color: #3a3a3a;
    padding-right: 20px;
	text-align: left;
}

#Definition {
    position: fixed;
	text-align: center;
}

.definitionBackground {
	/*position: fixed;*/
    background-color: #3a3a3a;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

a {
/*	color: #4dffb0;*/
	color: #00cc88;
}

.left {
	text-align: left;
	margin-left: 50px !important;
	margin-right: 50px !important;
}

.center {
	text-align: center;
	margin-left: 50px !important;
	margin-right: 50px !important;
}

.tab {
	position: absolute;
	left: 150px !important;
	font-size: 12px !important;
}

.game {
	align-content: center;
}

.iframe-container {
	overflow: hidden;
	/*   // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625) */
	padding-top: 56.25%;
	position: relative;
}

.iframe-container iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.imgbox {
	height: 100%;
	margin: 0;
	padding: 0;
}

.divider {
	/*text-align: center;*/
	/*margin-left: 0px !important;*/
	/*margin-right: 0px !important;*/
	margin-bottom: -50px !important;
	margin-top: -50px !important; 
}

.center-fit {
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
}

.center-expand {
	max-width: 100%;
	/*margin-left: 0px !important;*/
	/*margin-right: 0px !important;*/
	/*margin: 0px;*/
}
